1. read json(read_json)
2. To Json(to_json)
3. Json Normalize

In [5]:
data = '{"employee_name": "sanjeev", "email": "sanjeev@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'

In [6]:
type(data)

str

In [7]:
import pandas as pd

In [8]:
pd.read_json(data)

C:\Users\Sanjeev\AppData\Local\Temp\ipykernel_13520\1661395064.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

,employee_name,email,job_profile
0,sanjeev,sanjeev@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [9]:
pd.read_json(data,orient='records') #yadhi data record ma save krna hoo

C:\Users\Sanjeev\AppData\Local\Temp\ipykernel_13520\2317705276.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data,orient='records')

,employee_name,email,job_profile
0,sanjeev,sanjeev@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [10]:
pd.read_json(data,orient='index')

C:\Users\Sanjeev\AppData\Local\Temp\ipykernel_13520\131370662.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data,orient='index')

                                                               0
employee_name                                            sanjeev
email                                          sanjeev@gmail.com
job_profile    [{'title1': 'Team Lead', 'title2': 'Sr. Develo...

In [11]:
import pandas as pd

In [12]:
df= pd.DataFrame([['a', 'b'], ['c', 'd']],
                 index=['row1', 'row2'],
                 columns=['col 1', 'col 2'])

In [13]:
df

     col 1 col 2
row1     a     b
row2     c     d

In [15]:
df.to_json() #data convet in to json

'{"col 1":{"row1":"a","row2":"c"},"col 2":{"row1":"b","row2":"d"}}'

In [16]:
df.to_json(orient='columns')

'{"col 1":{"row1":"a","row2":"c"},"col 2":{"row1":"b","row2":"d"}}'

In [17]:
df.to_json(orient='records')

'[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'

In [18]:
df.to_json(orient='split')

'{"columns":["col 1","col 2"],"index":["row1","row2"],"data":[["a","b"],["c","d"]]}'

In [19]:
df.to_json(orient='table')

'{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col 1","type":"string"},{"name":"col 2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row1","col 1":"a","col 2":"b"},{"index":"row2","col 1":"c","col 2":"d"}]}'

In [24]:
data = [{"employee_name": "sanjeev", "email": "sanjeev@gmail.com", "job_profile": {"title1":"Team Lead", "title2":"Sr. Developer"}}]

In [25]:
type(data)

list

In [30]:
pd.json_normalize(data) #esme data string ma n hona chaiye usee hame list ma banana padta h esne job title1 or 2 ka colom diye h

  employee_name              email job_profile.title1 job_profile.title2
0       sanjeev  sanjeev@gmail.com          Team Lead      Sr. Developer